.header {
  padding: 2rem 2.4rem;
  position: fixed;
  z-index: 10;
  backdrop-filter: blur(24px);
  width: 100%;

  a {
    letter-spacing: 0.1rem;
    font-family: monospace;
    font-size: large;
  }
}
.blinker {
  animation-name: blinker;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
  animation-duration: 1s;
  //Basic styling
  display: inline-block;
}
@keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
